<!DOCTYPE html>
<html>
    <head>
        <title>Quiz-World - Kyselyn pohja</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <form action="/new" method="POST">
            {% if session.user_id %}
            <title>Quiz-World</title>
            <h1>Quiz-World</h1>
            <div class="signup">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/quizzes">Kyselyt</a></li>
                    <li><a href="/stats">Tilastot</a></li>
                    {% if session.role == 2 %}
                    <li>Luo uusi kysely</li>
                    {% endif %}
                </ul>
            </div>
            <h3 class="new">Luo uuden kyselyn pohja:<br></h3>
            <div class="textBoxdiv">
                <input type="text" name="topic" placeholder="Kyselyn aihe" minlength="1" maxlength="20">
            </div>
            <div class="textBoxdiv">
                <p class="role">Kyselyn tyyppi:</p>
                <select name="quiz_type">
                    <option value=1>tietovisa</option>
                    <option value=2>mielipidekysely</option>
                </select>
            </div>
            <div class="textBoxdiv">
                <p class="role">Montako kysymystä haluat?</p>
                <select name="nmr_of_questions">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                </select>
            </div>
            <div class="textBoxdiv">
                <p class="role">Montako vastausvaihtoehtoa haluat?</p>
                <select name="nmr_of_choices">
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                </select>
            </div>
            <button type="submit" class="loginBtn">Luo pohja</button>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            {% endif %}
            {% if not session.user_id %}
            <h1>Quiz-World</h1>
            <p>Et ole kirjautunut sisään.</p>
            <div class="signup">
                <a href="/">Palaa takaisin</a>
            </div>
            {% endif %}
        </form>
    </body>
</html>
