<!DOCTYPE html>
<html>
    <head>
        <title>Quiz-World - Kyselyt</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <form action="/delete" method="post">
            <h1>Quiz-World</h1>
            {% if session.user_id %}
            <div class="signup">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/quizzes">Kyselyt</a></li>
                    <li><a href="/stats">Tilastot</a></li>
                    <li><a href="/settings">Asetukset</a></li>
                </ul>
            </div>
            <h3 class="new">Käyttäjätilin poistaminen</h3><br>
            <p>Oletko varma, että haluat poistaa käyttäjätilisi?</p>
            <p>Tämä tarkoittaa, ettet voi enää kirjautua käyttäjälläsi Quiz-Wordliin.</p><br>
            {% if message %}
                <p class="errormessage" style="margin-top:0px;">
                    Et painanut "Kyllä, olen varma"-nappulaa... Oletko nyt ihan varma?</p>
                    <br>
            {% endif %}
            <p class="choice">
                <p><input type="radio" name="confirmation">Kyllä, olen varma</p>
            </p><br>
            <input type="submit" value="Poista käyttäjätili" class="loginBtn" style="margin-top:30px;">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <div class="signup">
                <a href="/settings">Palaa takaisin</a>
            </div>
        {% endif %}
        </form>
    </body>
</html>
