<!DOCTYPE html>
<html>
    <head>
        <title>Quiz-World - Kyselyt</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <form action="/delete" method="post">
            <h1>Quiz-World</h1>
            {% if session.user_id %}
            <div class="signup">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/quizzes">Kyselyt</a></li>
                    <li><a href="/stats">Tilastot</a></li>
                    <li><a href="/settings">Asetukset</a></li>
                </ul>
            </div>
            <h3 class="new">Käyttäjätilin poistaminen</h3><br>
            <p>Oletko varma, että haluat poistaa käyttäjäsi?</p><br>
            <p class="choice">
                <input type="radio" name="confirmation">Kyllä
            </p><br>
            {% endfor %}
            <input type="submit" value="Poista käyttäjätili" class="loginBtn" style="margin-top:30px;">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <div class="signup" style="margin-bottom:30px;">
                <a href="/quizzes">Palaa takaisin</a>
            </div>
        {% endif %}
        </form>
    </body>
</html>
