<!DOCTYPE html>
<html>
    <head>
        <title>Quiz-World - Kyselyt</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <form action="/edit/{{ quiz_id }}" method="POST">
            <h1>Quiz-World</h1>
            {% if session.user_id %}
            <div class="signup">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/quizzes">Kyselyt</a></li>
                    <li><a href="/stats">Tilastot</a></li>
                    <li><a href="/settings">Asetukset</a></li>
                </ul>
            </div>
            {% if session.role == 2 %}
            {% if quiz_type==1 %}
            <h3 class="newquiz">Muokkaa tietovisaa:</h3>
            <h3 class="topic">{{ topic }}</h3>
            <p class="errormessage">{{ message }}</p>
            <div class="textBoxdiv">
                <input type="text" name="newtopic" placeholder="Kyselyn aihe" value="{{ topic }}" minlength="1" maxlength="20">
            </div>
            {% for i in range(1,nmr_of_questions+1) %}
                <div class="textBoxdiv" style="white-space: initial;">
                    <input type="text" style="color:lavenderblush" name="newquestion" value="{{ questions[i-1][1] }}" 
                    minlength="1" maxlength="50" placeholder="{{ i }}. Kysymys">
                </div>
                {% for j in range(1, nmr_of_choices+1) %}
                    {% if choices[j-1][2] == questions[i-1][0] %}
                    <div class="textBoxdiv">
                        <input type="text" name="newchoice" value="{{ choices[j-1][1] }}" 
                        minlength="1" maxlength="50" placeholder="{{ j }}. Vaihtoehto">
                    </div>
                    <div class="textBoxdiv">
                        <select name="newcorrect">
                            {% if choices[j-1][3] == True %}
                            <option value=True selected>Tosi</option>
                            <option value=False>Epätosi</option>
                            {% endif %}
                            {% if choices[j-1][3] == False %}
                            <option value=True>Tosi</option>
                            <option value=False selected>Epätosi</option>
                            {% endif %}
                        </select>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% endif %}
            {% if quiz_type==2 %}
            <h3 class="newquiz">Muokkaa mielipidekyselyä:</h3>
            <h3 class="topic">{{ topic }}</h3>
            <p class="errormessage">{{ message }}</p>
            <div class="textBoxdiv">
                <input type="text" name="newtopic" placeholder="Kyselyn aihe" value="{{ topic }}" minlength="1" maxlength="20">
            </div>
            {% for question in questions %}
                <div class="textBoxdiv">
                    <input type="text" style="color:lavenderblush" name="newquestion" value="{{ question[1] }}" 
                    minlength="1" maxlength="50" placeholder="{{ question[1] }}">
                </div>
                {% for choice in choices %}
                    <div class="textBoxdiv">
                        <input type="text" name="newchoice" value="{{ choice[1] }}" 
                        minlength="1" maxlength="50" placeholder="{{ choice[1] }}">
                        <input type="hidden" name="newcorrect" value="True">
                    </div>
                {% endfor %}
            {% endfor %}
            {% endif %}
            <input type="submit" value="Muokkaa kyselyä" class="loginBtn" style="margin-top:30px;">
            {% endif %}
            {% endif %}
            <div class="signup" style="margin-bottom:20px;">
                <a href="/quizzes">Palaa takaisin</a>
            </div>
            <input type="hidden" name="topic" value="{{ topic }}">
            <input type="hidden" name="quiz_id" value="{{ quiz_id }}">
            <input type="hidden" name="quiz_type" value="{{ quiz_type }}">
            <input type="hidden" name="choices" value="{{ choices }}">
            <input type="hidden" name="questions" value="{{ questions }}">
            <input type="hidden" name="nmr_of_choices" value="{{ nmr_of_choices }}">
            <input type="hidden" name="nmr_of_questions" value="{{ nmr_of_questions }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    </body>
</html>
