<!DOCTYPE html>
<html>
    <head>
        <title>Quiz-World</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        {% if session.user_id %}
        <form action="/logout">
            <title>Quiz-World</title>
            <h1>Quiz-World</h1>
            <div class="signup">
            <ul>
                <li>Home</li>
                <li><a href="/quizzes">Kyselyt</a></li>
                <li><a href="/stats">Tilastot</a></li>
                {% if session.role == 2 %}
                <li><a href="/base">Luo uusi kysely</a></li>
                {% endif %}
            </ul>
            </div>
            <p>Olet kirjautunut nimellä {{ session.username }}.</p>
            <input type="submit" style="margin-top:150px;" value="Kirjaudu ulos" class="loginBtn">
        </form>
        {% else %}
        <form action="/login" method="POST">
            <h1>Quiz-World</h1>
            <h3>Kirjaudu sisään</h3>
            <div class="textBoxdiv">
                <input type="text" name="username" placeholder="Käyttäjätunnus">
            </div>
            <div class="textBoxdiv">
                <input type="password" name="password" placeholder="Salasana">
            </div>
            <input type="submit" class="loginBtn" value="Kirjaudu sisään">
            <div class="signup">
                Tai jos sinulla ei ole käyttäjätunnusta:
                </br>
                <a href="register">Rekisteröidy</a>
            </div>
        </form>
    </body>
</html>
{% endif %}
