<!DOCTYPE html>
<html>
    <head>
        <title>Quiz-World</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        {% if session.user_id %}
        <form action="/logout">
            <h1>Quiz-World</h1>
            <div class="signup">
            <ul>
                <li>Home</li>
                <li><a href="/quizzes">Kyselyt</a></li>
                <li><a href="/stats">Tilastot</a></li>
                <li><a href="/settings">Asetukset</a></li>
            </ul>
            </div>
            <h3 class="new" style="margin-bottom:30px; color:rgb(253, 221, 253);">Tervetuloa Quiz-Worldiin.</h3>
            <p style="text-align:left;">Quiz-Worldissä voit vastata tietovisoihin ja mielipidekyselyihin.
                Jos omaat ylläpitäjän oikeudet, voit luoda uusia kyselyitä, sekä muokata tai poistaa olemassa olevia kyselyitä.              
                Kyselyihin voi vastata vain kerran, jottei oikeita vastauksia voi luntata tuloksista.</p>
            <br>
            <p style="text-align:left;">Tilastoissa voit nähdä tekemäsi kyselyiden tilastot ja tulokset. Mielipidekyselyiden tilastoja voit tutkia,
                ilman että olisit itse tehnyt kyseisen kyselyn.</p>
            <br>
            <p>Pidä hauskaa!</p>
            <br><br><br>
            <input type="submit" value="Kirjaudu ulos" class="loginBtn">
        </form>
        {% else %}
        <form action="/login" method="POST">
            <h1>Quiz-World</h1>
            <h3>Kirjaudu sisään</h3>
            {% if message %}
                <p class="errormessage">Virhe: {{ message }}</p>
            {% endif %}
            <div class="textBoxdiv">
                <input type="text" name="username" placeholder="Käyttäjätunnus">
            </div>
            <div class="textBoxdiv">
                <input type="password" name="password" placeholder="Salasana">
            </div>
            <input type="submit" class="loginBtn" value="Kirjaudu sisään">
            <div class="signup">
                Tai jos sinulla ei ole käyttäjätunnusta:
                </br>
                <a href="register">Rekisteröidy</a>
            </div>
        </form>
    </body>
</html>
{% endif %}
