<!DOCTYPE html>
<html>
    <head>
        <title>Quiz-World - Uusi kysely</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <form action="/create" method="POST">
            <h1>Quiz-World</h1>
            {% if session.user_id %}
            <div class="signup">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/quizzes"></a>Kyselyt</li>
                    <li><a href="/stats">Tilastot</a></li>
                    {% if session.role == 2 %}
                    <li><a href="/base">Luo uusi kysely</a></li>
                    {% endif %}
                </ul>
            </div>
            {% if quiz_type==1 %}
            <h3 class="newquiz">Uusi tietovisa:</h3>
            <h3 class="topic">{{ topic }}</h3>
            {% for i in range(1, questions+1) %}
                <div class="textBoxdiv">
                    <input type="text" style="color:lavenderblush" name="question" placeholder="{{ i }}. Kysymys">
                </div>
                {% for j in range(1, choices+1) %}
                    <div class="textBoxdiv">
                        <input type="text" name="choice" placeholder="{{ j }}. Vaihtoehto">
                    </div>
                    <div class="textBoxdiv">
                        <select name="correct">
                            <option value=True>Tosi</option>
                            <option value=False selected>Epätosi</option>
                        </select>
                    </div>
                {% endfor %}
            {% endfor %}
            {% endif %}
            {% if quiz_type==2 %}
            <h3 class="newquiz">Uusi mielipidekysely:</h3>
            <h3 class="topic">{{ topic }}</h3>
            {% for i in range(1, questions+1) %}
                <div class="textBoxdiv">
                    <input type="text" style="color:lavenderblush" name="question" placeholder="{{ i }}. Kysymys">
                </div>
                {% for j in range(1, choices+1) %}
                    <div class="textBoxdiv">
                        <input type="text" name="choice" placeholder="{{ j }}. Vaihtoehto">
                        <input type="hidden" name="correct" value="True">
                    </div>
                {% endfor %}
            {% endfor %}
            {% endif %}
            <button type="submit" class="loginBtn">Luo kysely</button>
            <input type="hidden" name="topic" value="{{ topic }}">
            <input type="hidden" name="quiz_id" value="{{ quiz_id }}">
            <input type="hidden" name="quiz_type" value="{{ quiz_type }}">
            <input type="hidden" name="choices" value="{{ choices }}">
            <input type="hidden" name="nmr_of_questions" value="{{ questions }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            {% endif %}
        </form>
    </body>
</html>
