<!DOCTYPE html>
<html>
    <head>
        <title>Quiz-World - Uusi kysely</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <form action="/create" method="POST">
            {% if session.username %}
            {% if quiz_type==1 %}
            <h3 class="new">Uusi tietovisa:<br>{{ topic }}<br></h3>
            {% for i in range(1, questions+1) %}
                <div class="textBoxdiv">
                    <input type="text" name="question" placeholder="{{ i }}. Kysymys" minlength="1" maxlength="50">
                </div>
                {% for j in range(1, choices+1) %}
                    <div class="textBoxdiv">
                        <input type="text" name="choice" placeholder="{{ j }}. Vaihtoehto" minlength="1" maxlength="50">
                    </div>
                    <div class="textBoxdiv">
                        <select name="correct">
                            <option value=True>Tosi</option>
                            <option value=False selected>Epätosi</option>
                        </select>
                    </div>
                {% endfor %}
            {% endfor %}
            {% endif %}
            {% if quiz_type==2 %}
            <h3 class="new">Uusi mielipidekysely:<br>{{ topic }}<br></h3>
            {% for i in range(1, questions+1) %}
                <div class="textBoxdiv">
                    <input type="text" name="question" placeholder="{{ i }}. Kysymys" minlength="1" maxlength="50">
                </div>
                {% for j in range(1, choices+1) %}
                    <div class="textBoxdiv">
                        <input type="text" name="choice" placeholder="{{ j }}. Vaihtoehto" minlength="1" maxlength="50">
                        <input type="hidden" name="correct" value="True">
                    </div>
                {% endfor %}
            {% endfor %}
            {% endif %}
            <button type="submit" class="loginBtn">Luo kysely</button>
            <input type="hidden" name="quiz_id" value="{{ quiz_id }}">
            <input type="hidden" name="quiz_type" value="{{ quiz_type }}">
            <input type="hidden" name="choices" value="{{ choices }}">
            {% endif %}
            {% if not session.username %}
            <p>Et ole kirjautunut sisään.</p>
            {% endif %}
            <div class="signup">
                <a href="/base">Palaa takaisin</a>
            </div>
        </form>
    </body>
</html>
