<!DOCTYPE html>
<html>
    <head>
        <title>Quiz-World - Kyselyt</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <form action="/logout">
            <h1>Quiz-World</h1>
            {% if session.user_id %}
            <div class="signup">
            <ul>
                <li><a href="/">Home</a></li>
                <li>Kyselyt</li>
                <li><a href="/stats">Tilastot</a></li>
                {% if session.role == 2 %}
                <li><a href="/base">Luo uusi kysely</a></li>
                {% endif %}
            </ul>
            </div>
            <h3 class="new" style="margin-bottom:30px;">Kyselyt:<br></h3>
            {% if all_quizzes == 1 %}
                <p>Sovelluksessa on tällä hetkellä {{ all_quizzes }} kysely.</p>
            {% else %}
                <p>Sovelluksessa on tällä hetkellä {{ all_quizzes }} kyselyä.</p>
            {% endif %}
            <p style="margin-bottom:0px;">Olet vastannut {{ done_quizzes }}/{{ all_quizzes }} kyselyistä.</p>
            {% if session.role == 2 %}
            <div class="signup" style="margin-bottom:15px; margin-top:5px;">
            <ul>
                <li><a href="/edit">Muokkaa kyselyitä </a></li>
                <li><a href="/delete"> Poista kyselyitä</a></li>
            </ul>
            </div>
            {% endif %}
            <p class="quizzes">Tietovisat:</p>
            {% for quiz in available_quizzes %}
                <div class="quizlink">
                <ul.a>
                    <li><a href="/quiz/{{ quiz[1] }}">{{ quiz[0]}}</a></li>
                </ul.a>
                </div>
            {% endfor %}
            <br>
            <p class="quizzes">Mielipidekyselyt:</p>
            {% for poll in available_polls %}
                <div class="quizlink">
                <ul.a>
                    <li><a href="/quiz/{{ poll[1] }}">{{ poll[0]}}</a></li>
                </ul.a>
                </div>
            {% endfor %}
            <br><br>
            <input type="submit" value="Kirjaudu ulos" class="loginBtn">
        {% endif %}
        </form>
    </body>
</html>
