<!DOCTYPE html>
<html>
    <head>
        <title>Quiz-World - Vastaa kyselyyn</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <form action="/answer" method="POST">
            <h1>Quiz-World</h1>
            {% if session.user_id %}
            <div class="signup">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/quizzes">Kyselyt</a></li>
                    <li><a href="/stats">Tilastot</a></li>
                    <li><a href="/settings">Asetukset</a></li>
                </ul>
            </div>
            {% if quiz_type==1 %}
            <h3 class="newquiz">Vastaa tietovisaan:</h3>
            {% else %}
            <h3 class="newquiz">Vastaa mielipidekyselyyn:</h3>
            {% endif %}
            <h3 class="topic">{{ topic }}</h3>
            <p style="margin:20px;">Muista, voit vastata kyselyihin vain kerran.</p>
            {% if message %}
                <p class="errormessage">Virhe: {{ message }}</p>
            {% endif %}
            {% for i in range(nmr_of_questions) %}
                <input type="hidden" name="question" value="{{ questions[i][0] }}">
                <p class="questions">{{ i+1 }}. {{ questions[i][1] }}</p>
                {% for choice in choices %}
                    {% if choice[2] == questions[i][0] %}
                        <p class="choice">
                        <input type="radio" name="{{ questions[i][0] }}" value="{{ choice[0] }}"> {{ choice[1] }}
                        </p><br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        <input type="submit" value="Lähetä" class="loginBtn">
        <input type="hidden" name="quiz_id" value="{{ quiz_id }}">
        <input type="hidden" name="quiz_type" value="{{ quiz_type }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <div class="signup" style="margin-bottom:20px;">
            <a href="/quizzes">Palaa takaisin</a>
        </div>
        {% endif %}
        </form>
    </body>
</html>

