<!DOCTYPE html>
<html>
    <head>
        <title>Quiz-World - Kyselyt</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <form action="/remove" method="post">
            <h1>Quiz-World</h1>
            {% if session.user_id %}
            <div class="signup">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/quizzes">Kyselyt</a></li>
                    <li><a href="/stats">Tilastot</a></li>
                    <li><a href="/settings">Asetukset</a></li>
                </ul>
            </div>
            {% if session.role == 2 %}
            <h3 class="new">Kyselyn poistaminen</h3><br>
            <p>Minkä kyselyn haluat poistaa?</p><br>
            {% if message %}
                <p class="errormessage" style="margin-top:0px;">
                    Valitse ensin kysely, jonka haluat poistaa.</p>
                    <br>
            {% endif %}
            {% for quiz in list %}
                <p class="choice">
                    <input type="radio" name="quiz" value="{{ quiz.id }}">{{ quiz.topic }}
                </p><br>
            {% endfor %}
            <input type="submit" value="Poista kysely" class="loginBtn" style="margin-top:30px;">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <div class="signup" style="margin-bottom:30px;">
                <a href="/quizzes">Palaa takaisin</a>
            </div>
        {% endif %}
        {% endif %}
        </form>
    </body>
</html>
