<!DOCTYPE html>
<html>
    <head>
        <title>Quiz-World - Tilastot</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <form action="/logout">
            <h1>Quiz-World</h1>
            {% if session.user_id %}
            <div class="signup">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/quizzes">Kyselyt</a></li>
                    <li>Tilastot</li>
                    {% if session.role == 2 %}
                    <li><a href="/base">Luo uusi kysely</a></li>
                    {% endif %}
                </ul>
            </div>
            <h3 class="new" style="margin-bottom:30px;">Tilastot:<br></h3>
            <ul.a>
            <li>Olet kirjautunut nimellä {{ session.username }}.</li>
            <li>Rekisteröidyit Quiz-Wordliin {{ time.strftime("%d.%m.%Y") }} klo {{ time.strftime("%H:%M:%S") }}</li>
            </ul.a>
            <br>
            <p>Klikkaa kyselyä nähdäksesi sen tilastot.</p>
            <p class="quizzes">Tietovisat:</p>
            {% for quiz in available_quizzes %}
                <div class="quizlink">
                <ul.a>
                    <li><a href="/result/{{ quiz[1] }}">{{ quiz[0]}}</a></li>
                </ul.a>
                </div>
            {% endfor %}
            <br>
            <p class="quizzes">Mielipidekyselyt:</p>
            {% for poll in available_polls %}
                <div class="quizlink">
                <ul.a>
                    <li><a href="/result/{{ poll[1] }}">{{ poll[0]}}</a></li>
                </ul.a>
                </div>
            {% endfor %}
            <br><br>
            <input type="submit" value="Kirjaudu ulos" class="loginBtn">
        {% else %}
        <p>Et ole kirjautunut sisään.</p>
        <div class="signup" style="margin-bottom:240px;">
            <a href="/">Palaa takaisin</a>
        </div>
        {% endif %}
        </form>
    </body>
</html>
